/*********************************************
 Main home banner customizations
 *********************************************/


/* If you want to add a background image to the home page banner instead of using a solid color.
Just un comment the #banner rule below. */

#banner {
  background-image: url(../../images/header_image.png);
  background-size: cover;
  color: #D0D1E1;
  text-shadow: 1px 1px 15px #333;
  text-align: center;
  cursor: default;
  padding: 10em 4em 9em 4em;
} 

#banner h1 {
  color: #F4EFEB; 
}

/* If you want to change the banner button color. The following two css rules use a class called "redbtn".
You can call the class whatever you want, but in order for it to work, it needs to be added to the button in the index html file as well.*/
#banner .button.redbtn {
  background-color: #908DB9;
 
  box-shadow: none;
}

#banner .button.redbtn:hover {
  background-color: #A9A9C4;
}

.card {
  box-shadow: 0 4px 8px 0 #A9A9C4;

}

.figures {
  padding: 0 16px; 
}


/*********************************************
 Write your css customizations below
 *********************************************/
